---
- name: Install OpenSSL and python3-cryptography
  ansible.builtin.apt:
    name:
      - openssl
      - python3-cryptography
    state: present
    update_cache: true

- name: Create Private Key directory
  ansible.builtin.file:
    path: "{{ cert_private_key_path }}"
    state: directory
    owner: "{{ cert_owner }}"
    group: "{{ cert_group }}"
    mode: "0750"

- name: Create CSR directory
  ansible.builtin.file:
    path: "{{ csr_output_path }}"
    state: directory
    owner: "{{ cert_owner }}"
    group: "{{ cert_group }}"
    mode: "0755"

- name: Includa CA tasks
  include_tasks: ca-generation.yml
  when: cert_create_ca

- name: Create Cert private key
  community.crypto.openssl_privatekey:
    path: "{{ cert_private_key_path }}/{{ cert_common_name }}.key"
    type: "{{ item.type }}"
    owner: "{{ cert_owner }}"
    group: "{{ cert_group }}"
    mode: "0600"

- name: Create a CSR for the certificate.
  community.crypto.openssl_csr:
    path: "{{ cert_csr_path }}/{{ cert_common_name }}.csr"
    privatekey_path: "{{ cert_private_key_path }}/{{ cert_common_name }}.key"
    country_name: "{{ cert_country_name }}"
    organization_name: "{{ cert_organization_name }}"
    email_address: "{{ cert_mail_address }}"
    common_name: "{{ cert_common_name }}"
    owner: "{{ cert_owner }}"
    group: "{{ cert_group }}"
    subject_alt_name: "{{ cert_san }}"
    basic_constraints: "{{ cert_basic_constraint }}"
    mode: "0644"

- name: Create a self-signed certificate(Without our CA)
  community.crypto.openssl_certificate:
    path: "{{ cert_path }}/{{ cert_common_name }}.pem"
    privatekey_path: "{{ cert_private_key_path }}/{{ cert_common_name }}.key"
    csr_path: "{{ cert_csr_path }}/{{ cert_common_name }}.csr"
    owner: "{{ cert_owner }}"
    group: "{{ cert_group }}"
    provider: "{{ cert_provider }}"
    mode: "0644"
  when: not cert_use_ownca

- name: Create a self-signed certificate(With our CA)
  community.crypto.openssl_certificate:
    path: "{{ cert_path }}/{{ cert_common_name }}.pem"
    privatekey_path: "{{ cert_private_key_path }}/{{ cert_common_name }}.key"
    csr_path: "{{ cert_csr_path }}/{{ cert_common_name }}.csr"
    ownca_path: "{{ cert_ca_path }}/{{ cert_ca_common_name }}.pem"
    ownca_privatekey_path: "{{ cert_private_key_path }}/{{ cert_ca_common_name }}.key"
    owner: "{{ cert_owner }}"
    group: "{{ cert_group }}"
    provider: "{{ cert_provider }}"
    mode: "0644"
  when: cert_use_ownca
